.conx-bestsidebutt {
  width: 100%;
  margin-bottom: 20px;
}
.conx-bestsidebutt > button {
  width: 100% !important;
  font-size: 18px;
}
.conx-bestsellercard {
  border-radius: 15px !important;
}
.conx-bestsellericon > i:before {
  color: #8f8f8f !important;
  font-size: 52px;
}
.conx-divforcard > mat-card > mat-card-content > button {
  outline: none !important;
  background-color: #fff !important;
  border: none !important;
  transition: box-shadow 1000ms;
  cursor: pointer;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  border-radius: 15px !important;
  box-shadow: 0 1px 15px rgb(0 0 0 / 4%), 0 1px 6px rgb(0 0 0 / 4%);
  width: 100%;
}
.conx-divforcard > mat-card > mat-card-content > button > div {
  width: 100%;
}
.conx-divforcard > mat-card > mat-card-content > button {
  box-shadow: none !important;
}
.conx-divforcard > mat-card {
  border-radius: 10px;
}
#conx-bestsidediv > div > div > div:nth-child(3) > button {
  padding-left: 70px;
}