<div class="container-fluid">
<div class="row app-row">

  <div class="col-8">
    
    <h1><i class="glyph-icon iconsminds-box-close conx-h1topicon"></i> เพิ่มสินค้าขายดี<span class="conx-headbreadcrumb"></span></h1>

  </div>

  <div class="col-4 text-right">
  </div>

  <div class="display-options-container col-12">

      <div class="separator mb-4"></div>

  </div>


<div class="col-12 conx-bestselleritemsdiv">
    <div class="row icon-cards-row mb-4 sortable" ng-reflect-sortablejs="1,2,3,4">

      <!-- START LOOP -->

        <div class="col-md-3 col-lg-3 col-sm-2 col-3 mb-3 conx-divforcard">
            <mat-card>
                <mat-card-content>
                  <button mat-raised-button routerLink="/app/datainfo/bestseller/product">
                    <div class="card-body text-center conx-bestsellericon pb-0">
                        <i class="iconsminds-empty-box"></i>
                        <p class="card-text mt-4 mb-0">หมวกกันน็อค</p>
                        <span class="conx-incardbestsellerprice"> </span>
                    </div>
                  </button>
                </mat-card-content>
              </mat-card>
        </div>

        <div class="col-md-3 col-lg-3 col-sm-2 col-3 mb-3 conx-divforcard">
            <mat-card>
                <mat-card-content>
                  <button (click)="openDialog()" mat-raised-button>
                    <div class="card-body text-center conx-bestsellericon pb-0">
                        <i class="glyph-icon simple-icon-plus"></i>
                        <p class="card-text mt-4 mb-0">เพิ่มรายการสินค้า</p>
                        <span class="conx-incardbestsellerprice"> </span>
                    </div>
                  </button>
                </mat-card-content>
              </mat-card>
        </div>
        
      <!-- END LOOP -->

    </div>
</div>

<div ng-reflect-ng-class="[object Object]" class="app-menu" id="conx-bestsidediv">
  
<div class="p-4 h-100">
<div class="scroll">

<div class="top-right-button-container text-zero conx-bestsidebutt"><button type="button" class="top-right-button btn btn-light default btn-lg">แก้ไขชื่อกลุ่มสินค้า</button></div>

<div class="top-right-button-container text-zero conx-bestsidebutt"><button (click)="openDialog2()" class="top-right-button btn btn-info default btn-lg">จัดการข้อมูล</button></div>
<div class="top-right-button-container text-zero conx-bestsidebutt"><button type="button" class="top-right-button btn btn-primary default btn-lg">บันทึก</button></div></div></div><a href="javascript:;" class="app-menu-button d-inline-block d-xl-none"><i class="simple-icon-options"></i></a>

</div>

</div>

</div>