.m-b-20 {
  margin-bottom: 20px;
}


.conx-h1topicon {
    color: #28a745;
}
.conx-bestsidebutt {
    width: 100%;
    margin-bottom: 20px;
}
.conx-bestsidebutt > button {
    width: 100% !important;
}
.conx-bestsellercard {
    border-radius: 15px !important;
}
.conx-bestsellericon > i:before {
    color: #8f8f8f !important;
    font-size: 52px;
}

