/* USING THIS FILE FOR OVERWRITTEN TEMPLATE CSS ONLY */

/* bootstrap.min.css */
input, button, select, optgroup, textarea {
    font-family: 'Kanit', sans-serif;
    font-weight: 300 !important;
    border-radius: 10px;
}
.m-b-20 {
    margin-bottom: 20px;
}  

/* _vien.style.scss */
.navbar-logo {
    background-image: url(/assets/conxo/images/logo_sml.png);
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
}
.logo {
    background: none !important;
}
.logo-mobile {
    background: none !important;
}
body {
    font-family: 'Kanit', sans-serif;
    font-weight: 200;
}
.rounded .sub-hidden .main-menu, .rounded .menu-sub-hidden .main-menu {
    border-radius: 0px !important;
}
.rounded .app-menu {
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
}
.rounded .btn.default {
    border-radius: 0.5rem;
}
p {
    font-family: 'Kanit', sans-serif;
    font-weight: 200;
}

/* indigo-pink.css */
.mat-body, .mat-body-1, .mat-typography {
    font-family: 'Kanit', sans-serif;
    font-weight: 200;
}
.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
    border-color: #00a656 !important;
}
.mat-radio-button.mat-accent .mat-radio-inner-circle, .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element:not(.mat-radio-persistent-ripple), .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-persistent-ripple, .mat-radio-button.mat-accent:active .mat-radio-persistent-ripple {
    background-color: #00a656 !important;
}
.mat-form-field.mat-focused .mat-form-field-ripple {
    background-color: #00a656 !important;
}
.cdk-overlay-container {
    z-index: 1080 !important;
}
.mat-h1, .mat-headline, .mat-typography h1 {
    font: 400 24px/32px 'Kanit', sans-serif;
}
.mat-h3, .mat-subheading-2, .mat-typography h3 {
    font: 400 16px/28px 'Kanit', sans-serif;
}
.mat-h2, .mat-title, .mat-typography h2 {
    font: 400 20px/32px 'Kanit', sans-serif;
}
.mat-radio-button {
    font-family: 'Kanit', sans-serif;
    font-weight: 200;
}
.mat-button, .mat-raised-button, .mat-icon-button, .mat-stroked-button, .mat-flat-button, .mat-fab, .mat-mini-fab {
    font-family: 'Kanit', sans-serif;
    font-weight: 200;
}
.mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
    color: #00a656 !important;
}
.mat-form-field.mat-focused .mat-form-field-label {
    color: #00a656 !important;
    /* font-size: 0px !important;
    background-color: transparent !important; */
}
.mat-form-field-appearance-outline .mat-form-field-infix {
    /* border-top: 0.34375em solid transparent; */
    border-top: 0px solid transparent;
    font-size: 16px;
    padding-top: 20px;
}
input.mat-input-element {
    border-radius: 0px !important;
}
.mat-h5, .mat-typography h5 {
  margin-bottom: 0px !important;
}

/* bestseller.component.scss */
.conx-divforcard > mat-card > mat-card-content > button > span {
  width: 100%;
}
.conx-divforcard > mat-card > mat-card-content > button > span > div {
  width: 100%;
}
.conx-divforcard > mat-card > mat-card-content > button > div {
  width: 100%;
}
.conx-divforcard > mat-card > mat-card-content > button > span > div > i {
  height: 120px;
  padding-top: 40px;
  display: inline-block;
}
.conx-divforcard > span > div > p {
  font-weight: 300;
}
.mat-flat-button.mat-accent, .mat-raised-button.mat-accent, .mat-fab.mat-accent, .mat-mini-fab.mat-accent {
    background-color: #00a656 !important;
}

/* bestseller-addnew-popup.component.scss */
#BestsellerAddnewPopup {
    width: 100%;
    min-width: 390px;
}
.mat-form-field-appearance-outline .mat-form-field-outline {
    color: #6a6a6a;
    border: 1px solid #6a6a6a;
    border-radius: 5px;
}
#BestsellerAddnewPopup > mat-dialog-content > mat-card > mat-card-content > section > mat-radio-group > mat-radio-button.mat-radio-button.example-margin.mat-accent.mat-radio-checked > label > div.mat-radio-container > div.mat-radio-outer-circle {
    border-color: #00a656 !important;
}
#BestsellerAddnewPopup > mat-dialog-content > mat-card {
    box-shadow: none !important;
}
#BestsellerAddnewPopup > mat-dialog-content > mat-card > mat-card-content > section > mat-radio-group > mat-radio-button > label {
    margin-right: 15px;
    zoom: 150%;
}
        /* ADD GROUP TAB CSS */
        #BestsellerAddnewPopup > mat-dialog-content > mat-card:nth-child(2) > mat-card-content > mat-form-field {
            width: 100%;
        }
        #BestsellerAddnewPopup > mat-dialog-content > mat-card:nth-child(2) > mat-card-content > mat-form-field > div > div.mat-form-field-underline {
            height: 0px;
        }
        #BestsellerAddnewPopup > mat-dialog-content > mat-card:nth-child(2) > mat-card-content > h3 {
            line-height: 100%;
            margin-bottom: 0px;
            font-size: 22px;
        }
        /* ------------------ */

        /* ADD PRODUCT TAB CSS */
        #BestsellerAddnewPopup > mat-dialog-content > mat-card:nth-child(3) > mat-card-content > mat-form-field {
            width: 100%;
        }
        #BestsellerAddnewPopup > mat-dialog-content > mat-card:nth-child(3) > mat-card-content > mat-form-field > div > div.mat-form-field-underline {
            height: 0px;
        }
        #BestsellerAddnewPopup > mat-dialog-content > mat-card:nth-child(3) > mat-card-content > h3 {
            line-height: 100%;
            margin-bottom: 0px;
            font-size: 22px;
        }
        #BestsellerAddnewPopup > mat-dialog-content > mat-card:nth-child(3) > mat-card-content > table {
            width: 100%;
        }
        #BestsellerAddnewPopup > mat-dialog-content > mat-card:nth-child(3) > mat-card-content > table > tr > td:nth-child(1) > mat-form-field {
            width: 100%;
        }
        #BestsellerAddnewPopup > mat-dialog-content > mat-card:nth-child(3) > mat-card-content > table > tr > td:nth-child(2) > button {
            background-color: #00a656 !important;
            color: #fff;
            width: 100%;
            padding: 5px;
            margin-top: -20px;
            margin-left: 10px;
            margin-right: 10px;
            font-size: 16px;
            padding-left: 35px;
            border-radius: 10px;
            box-shadow: rgb(50 50 93 / 25%) 0px 2px 5px -1px, rgb(0 0 0 / 30%) 0px 1px 3px -1px;
            background-image: url('data:image/svg+xml;utf8,<svg height="512pt" viewBox="0 0 512.016 512" width="512pt" xmlns="http://www.w3.org/2000/svg"><path fill="white" d="m202.667969 405.339844c-111.746094 0-202.667969-90.921875-202.667969-202.664063 0-111.746093 90.921875-202.6679685 202.667969-202.6679685 111.742187 0 202.664062 90.9218755 202.664062 202.6679685 0 111.742188-90.921875 202.664063-202.664062 202.664063zm0-373.332032c-94.101563 0-170.667969 76.566407-170.667969 170.667969 0 94.101563 76.566406 170.664063 170.667969 170.664063 94.101562 0 170.664062-76.5625 170.664062-170.664063 0-94.101562-76.5625-170.667969-170.664062-170.667969zm0 0"/><path fill="white" d="m496 512.007812c-4.097656 0-8.191406-1.558593-11.308594-4.691406l-161.277344-161.28125c-6.25-6.25-6.25-16.382812 0-22.636718 6.25-6.25 16.382813-6.25 22.632813 0l161.28125 161.28125c6.25 6.25 6.25 16.382812 0 22.636718-3.136719 3.132813-7.230469 4.691406-11.328125 4.691406zm0 0"/><path fill="white" d="m282.667969 218.675781h-160c-8.832031 0-16-7.167969-16-16s7.167969-16 16-16h160c8.832031 0 16 7.167969 16 16s-7.167969 16-16 16zm0 0"/><path fill="white" d="m202.667969 298.675781c-8.832031 0-16-7.167969-16-16v-160c0-8.832031 7.167969-16 16-16s16 7.167969 16 16v160c0 8.832031-7.167969 16-16 16zm0 0"/></svg>');
            background-size: 21px;
            background-repeat: no-repeat;
            background-position: 1.5em center;
        }
        /* ------------------ */

        /* PSEUDO SELECTOR FOR RADIO TAB */
        #BestsellerAddnewPopup > mat-dialog-content > mat-card:nth-child(2) {
            display: block;
        }
        #BestsellerAddnewPopup > mat-dialog-content > mat-card:nth-child(3) {
            display: none;
        }
        #BestsellerAddnewPopup > mat-dialog-content > mat-card.groupshow:nth-child(2) {
            display: block;
        }
        #BestsellerAddnewPopup > mat-dialog-content > mat-card.groupshow:nth-child(3) {
            display: none;
        }
        #BestsellerAddnewPopup > mat-dialog-content > mat-card.productshow:nth-child(2) {
            display: none;
        }
        #BestsellerAddnewPopup > mat-dialog-content > mat-card.productshow:nth-child(3) {
            display: block;
        }
        /* ------------------ */

#BestsellerAddnewPopupButt {
    margin-bottom: 20px;
}
#BestsellerAddnewPopupButt > mat-dialog-actions > button:nth-child(1) {
    background-color: #aeaeae !important;
    color: #fff;
    width: 48%;
    padding: 5px;
    font-size: 22px;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
#BestsellerAddnewPopupButt > mat-dialog-actions > button:nth-child(2) {
    background-color: #00a656 !important;
    color: #fff;
    width: 48%;
    padding: 5px;
    font-size: 22px;
    padding-left: 50px;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    /* background-image: url(/assets/conxo/icons/comment_1756625.svg); */
    background-image: url('data:image/svg+xml;utf8,<svg height="384pt" viewBox="0 0 384 384" width="384pt" xmlns="http://www.w3.org/2000/svg"><path fill="white" d="m192 384c105.863281 0 192-86.128906 192-192 0-18.273438-2.550781-36.28125-7.601562-53.527344-2.488282-8.480468-11.34375-13.351562-19.847657-10.863281-8.488281 2.480469-13.34375 11.367187-10.863281 19.847656 4.183594 14.328125 6.3125 29.320313 6.3125 44.542969 0 88.222656-71.777344 160-160 160s-160-71.777344-160-160 71.777344-160 160-160c32.0625 0 62.910156 9.375 89.207031 27.105469 7.320313 4.941406 17.273438 3 22.207031-4.320313 4.9375-7.328125 3.011719-17.273437-4.316406-22.210937-31.601562-21.308594-68.632812-32.574219-107.097656-32.574219-105.863281 0-192 86.128906-192 192s86.136719 192 192 192zm0 0"/><path fill="white" d="m356.6875 36.6875-164.6875 164.679688-52.6875-52.679688c-6.25-6.246094-16.375-6.246094-22.625 0-6.246094 6.25-6.246094 16.375 0 22.625l64 64c3.128906 3.128906 7.214844 4.6875 11.3125 4.6875s8.183594-1.558594 11.3125-4.6875l176-176c6.246094-6.25 6.246094-16.375 0-22.625-6.25-6.246094-16.375-6.246094-22.625 0zm0 0"/></svg>');
    background-size: 28px;
    background-repeat: no-repeat;
    background-position: 2em center;
}


/* bestseller-editinfo-popup.component.scss */
.conx-BestsellerEditPopup {
    display: block !important;
    height: 100% !important;
    right: 0px !important;
    position: absolute !important;
    width: 550px !important;
}
.conx-BestsellerEditPopup > mat-dialog-container {
    border-radius: 0px !important;
}
#BestsellerEditPopup {
    margin-top: 16vh;
}
#BestsellerEditPopup > mat-dialog-content > mat-card > mat-card-content > h3 {
    margin-bottom: 0px;
}
#BestsellerEditPopup > mat-dialog-content > mat-card {
    box-shadow: none !important;
    padding-bottom: 0px;
    padding-left: 0px;
}
#BestsellerEditPopup > mat-dialog-content > mat-card > mat-card-content > mat-form-field {
    width: 100%;
}
#BestsellerEditPopup > mat-dialog-content > mat-card > mat-card-content > mat-form-field > div > div.mat-form-field-underline {
    height: 0px;
}
#BestsellerEditPopup > div > h2 {
    padding: 10px;
    padding-left: 55px;
    margin-bottom: 0px;
    background-image: url('data:image/svg+xml;utf8,<svg height="448pt" viewBox="0 -48 448 448" width="448pt" xmlns="http://www.w3.org/2000/svg"><path fill="%2300a656" d="m16 352h416c8.835938 0 16-7.164062 16-16v-256c0-8.835938-7.164062-16-16-16h-208l-70.398438-64h-137.601562c-8.835938 0-16 7.164062-16 16v320c0 8.835938 7.164062 16 16 16zm112-160h80v-80c0-8.835938 7.164062-16 16-16s16 7.164062 16 16v80h80c8.835938 0 16 7.164062 16 16s-7.164062 16-16 16h-80v80c0 8.835938-7.164062 16-16 16s-16-7.164062-16-16v-80h-80c-8.835938 0-16-7.164062-16-16s7.164062-16 16-16zm0 0"/></svg>');
    background-size: 36px;
    background-repeat: no-repeat;
    background-position: 0.2em center;
}
#BestsellerEditPopupButt > mat-dialog-actions {
    padding-top: 0px;
}
#BestsellerEditPopupButt > mat-dialog-actions > button {
    background-color: #aeaeae !important;
    color: #fff;
    width: 23%;
    padding: 0px;
    font-size: 14px;
    border-radius: 8px;
    box-shadow: rgb(50 50 93 / 25%) 0px 2px 5px -1px, rgb(0 0 0 / 30%) 0px 1px 3px -1px;
}
#BestsellerEditPopupButt > mat-dialog-actions > button:nth-child(1) {
    padding-left: 20px;
    background-image: url('data:image/svg+xml;utf8,<svg id="Capa_1" enable-background="new 0 0 443.294 443.294" height="512" viewBox="0 0 443.294 443.294" width="512" xmlns="http://www.w3.org/2000/svg"><path fill="white" d="m235.5 166.235h-27.706v69.265h-69.264v27.706h69.265v69.265h27.705v-69.265h69.265v-27.706h-69.265z"/><path fill="white" d="m383.824 114.882-110.824-110.824c-2.597-2.597-6.114-4.058-9.794-4.058h-180.088c-15.274 0-27.706 12.432-27.706 27.706v387.882c0 15.273 12.432 27.706 27.706 27.706h277.059c15.273 0 27.706-12.432 27.706-27.706v-290.912c-.001-3.679-1.462-7.197-4.059-9.794zm-106.765-67.587 63.529 63.529h-63.529zm83.117 368.294h-277.058v-387.882h166.235v83.118c0 15.273 12.432 27.706 27.706 27.706h83.118v277.058z"/></svg>');
    background-size: 14px;
    background-repeat: no-repeat;
    background-position: 1em center;
}
#BestsellerEditPopupButt > mat-dialog-actions > button:nth-child(2) {
    padding-left: 25px;
    background-image: url('data:image/svg+xml;utf8,<svg height="511pt" viewBox="1 -47 511.99998 511" width="511pt" xmlns="http://www.w3.org/2000/svg"><path fill="white" d="m352 224.5h-80v-80c0-8.835938-7.164062-16-16-16s-16 7.164062-16 16v80h-80c-8.835938 0-16 7.164062-16 16s7.164062 16 16 16h80v80c0 8.835938 7.164062 16 16 16s16-7.164062 16-16v-80h80c8.835938 0 16-7.164062 16-16s-7.164062-16-16-16zm0 0"/><path fill="white" d="m464 64.5h-199.441406c-.640625-.96875-1.386719-1.863281-2.222656-2.671875l-54.625-52.398437c-5.929688-5.734376-13.859376-8.933594-22.109376-8.929688h-137.601562c-26.511719 0-48 21.492188-48 48v320c0 26.511719 21.488281 48 48 48h416c26.511719 0 48-21.488281 48-48v-256c0-26.507812-21.492188-48-48-48zm16 304c0 8.835938-7.164062 16-16 16h-416c-8.835938 0-16-7.164062-16-16v-320c0-8.835938 7.164062-16 16-16h137.601562l53.550782 51.410156c6.046875 7.925782 15.4375 12.578125 25.40625 12.589844h199.441406c8.835938 0 16 7.164062 16 16zm0 0"/></svg>');
    background-size: 14px;
    background-repeat: no-repeat;
    background-position: 1.6em center;
}
#BestsellerEditPopupButt > mat-dialog-actions > button:nth-child(3) {
    padding-left: 25px;
    background-image: url('data:image/svg+xml;utf8,<svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 330 330" style="enable-background:new 0 0 330 330;" xml:space="preserve"><g><path fill="white" d="M165,0C74.019,0,0,74.02,0,165.001C0,255.981,74.019,330,165,330s165-74.019,165-164.999C330,74.02,255.981,0,165,0z M165,300c-74.44,0-135-60.561-135-134.999C30,90.562,90.56,30,165,30s135,60.562,135,135.001C300,239.439,239.439,300,165,300z"/><path fill="white" d="M185.606,94.395c-5.857-5.857-15.355-5.857-21.213,0c-5.858,5.857-5.858,15.355,0,21.213l34.395,34.395l-103.79,0.006 c-8.284,0-15,6.717-14.999,15.001c0,8.284,6.717,14.999,15.001,14.999l103.784-0.006l-34.392,34.393 c-5.858,5.857-5.858,15.355,0,21.213c2.929,2.929,6.767,4.394,10.606,4.394c3.839,0,7.678-1.465,10.606-4.394l60-60.001 C248.42,172.793,250,168.979,250,165s-1.581-7.794-4.394-10.606L185.606,94.395z"/></g></svg>');
    background-size: 14px;
    background-repeat: no-repeat;
    background-position: 1.6em center;
}
#BestsellerEditPopupButt > mat-dialog-actions > button:nth-child(4) {
    padding-left: 25px;
    background-image: url('data:image/svg+xml;utf8,<svg id="Layer_1" enable-background="new 0 0 512 512" height="512" viewBox="0 0 512 512" width="512" xmlns="http://www.w3.org/2000/svg"><g><path fill="white" d="m424 64h-88v-16c0-26.467-21.533-48-48-48h-64c-26.467 0-48 21.533-48 48v16h-88c-22.056 0-40 17.944-40 40v56c0 8.836 7.164 16 16 16h8.744l13.823 290.283c1.221 25.636 22.281 45.717 47.945 45.717h242.976c25.665 0 46.725-20.081 47.945-45.717l13.823-290.283h8.744c8.836 0 16-7.164 16-16v-56c0-22.056-17.944-40-40-40zm-216-16c0-8.822 7.178-16 16-16h64c8.822 0 16 7.178 16 16v16h-96zm-128 56c0-4.411 3.589-8 8-8h336c4.411 0 8 3.589 8 8v40c-4.931 0-331.567 0-352 0zm313.469 360.761c-.407 8.545-7.427 15.239-15.981 15.239h-242.976c-8.555 0-15.575-6.694-15.981-15.239l-13.751-288.761h302.44z"/><path fill="white" d="m256 448c8.836 0 16-7.164 16-16v-208c0-8.836-7.164-16-16-16s-16 7.164-16 16v208c0 8.836 7.163 16 16 16z"/><path fill="white" d="m336 448c8.836 0 16-7.164 16-16v-208c0-8.836-7.164-16-16-16s-16 7.164-16 16v208c0 8.836 7.163 16 16 16z"/><path fill="white" d="m176 448c8.836 0 16-7.164 16-16v-208c0-8.836-7.164-16-16-16s-16 7.164-16 16v208c0 8.836 7.163 16 16 16z"/></g></svg>');
    background-size: 14px;
    background-repeat: no-repeat;
    background-position: 1.6em center;
}
.conx-divforcard > mat-card > mat-card-content > button > span > div {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

/* salereport.component.scss */
.conx-salereportdatepicker > mat-form-field > div > div.mat-form-field-flex > div.mat-form-field-outline {
  background-color: #fff;
  box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
  border-radius: 5px;
}
.conx-salereportdatepicker > mat-form-field > div > div.mat-form-field-flex > div.mat-form-field-infix > span > label {
    padding-top: 10px;
}
#conx-salereportformrow > div > mat-form-field {
  width: 100% !important;
}
#conx-salereportformrow > div > mat-form-field > div > div.mat-form-field-flex > div.mat-form-field-infix > input {
    border-radius: 0px !important;
}

/* pos.component.scss */
.conx-possection > mat-card > div > div > button > span > div > p {
  font-size: 16px !important;
}

/* pos-cashcheck-popup.component.scss */
.conx-PosCashcheckPopup {
    display: block !important;
    height: 100% !important;
    right: 0px !important;
    position: absolute !important;
    width: 550px !important;
}
.conx-PosCashcheckPopup > mat-dialog-container {
    border-radius: 0px !important;
}

/* pos-taxinv-popup.component.scss */
.conx-PosTaxinvPopup {
    display: block !important;
    height: 100% !important;
    right: 0px !important;
    position: absolute !important;
    width: 550px !important;
}
.conx-PosTaxinvPopup > mat-dialog-container {
    border-radius: 0px !important;
}

/* pos-address-popup.component.scss */
.conx-PosAddressPopup {
    display: block !important;
    height: 100% !important;
    right: 0px !important;
    position: absolute !important;
    width: 550px !important;
}
.conx-PosAddressPopup > mat-dialog-container {
    border-radius: 0px !important;
}

/* pos-newaddress-popup.component.scss */
.conx-PosNewAddressPopup {
    display: block !important;
    height: 100% !important;
    right: 0px !important;
    position: absolute !important;
    width: 550px !important;
}
.conx-PosNewAddressPopup > mat-dialog-container {
    border-radius: 0px !important;
}

/* datainfo.component.scss */
.conx-datainfosellsearchdiv > mat-form-field > div > div.mat-form-field-flex > div:nth-child(1) {
    background-color: #fff !important;
}

/* datainfo-discount-popup.component.scss */
.conx-DatainfoDiscountPopup {
    display: block !important;
    height: 100% !important;
    right: 0px !important;
    position: absolute !important;
    width: 550px !important;
}
.conx-DatainfoDiscountPopup > mat-dialog-container {
    border-radius: 0px !important;
}
#conx-postaxinvformin1 > mat-form-field > div > div.mat-form-field-flex > div.mat-form-field-infix > span > label {
    padding-top: 7px !important;
}


/* receipt.component.scss */
.conx-receipttopinput > mat-form-field > div > div.mat-form-field-flex > div:nth-child(1) {
  background-color: #fff;
}
.conx-receiptdatepicker > mat-form-field > div > div.mat-form-field-flex > div.mat-form-field-outline {
  background-color: #fff;
  box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
  border-radius: 5px;
}
.conx-receiptdatepicker > mat-form-field > div > div.mat-form-field-flex > div.mat-form-field-infix > span > label {
    padding-top: 10px;
}
#mat-paginator > div > div > div.mat-paginator-page-size > mat-form-field > div {
  max-height: 70px !important;
}


/* issued-newcompany-popup.component.scss */
.conx-IssuedNewCompanyPopup {
    display: block !important;
    height: 100% !important;
    right: 0px !important;
    position: absolute !important;
    width: 550px !important;
}
.conx-IssuedNewCompanyPopup > mat-dialog-container {
    border-radius: 0px !important;
}

