<div class="container-fluid">

    <div class="row">
 
                <div class="col-7 conx-datainfomaincolumnleft">
                    
                    <div class="row">

                        <div class="col-12">
                            
                            <div class="row">
                                
                                <div class="col-5">
                                    <h1 class="conx-datainfoh1"><i class="conx-datainfocustomicon1"></i> BARCODE SCAN<span class="conx-headbreadcrumb"></span></h1>
                                </div>
                                <div class="col-7">
                                    
                                    <div class="conx-datainfobarcode">

                                        <mat-form-field appearance="outline">
                                          <mat-label> </mat-label>
                                          <input matInput placeholder="Placeholder">
                                        </mat-form-field>
                                    
                                    </div>

                                </div>

                            </div>

                        </div>

                        <div class="col-12" id="conx-datainfousermain">
                            <mat-card>
                                
                                <div class="row">
                                
                                    <div class="col-7">
                                        
                                        <div class="row">

                                            <div class="col-3">
                                                <div class="conx-datainfouseravatar">
                                                    <div class="glyph-icon simple-icon-user-following"></div>
                                                </div>
                                            </div>
                                            <div class="col-5">
                                                <div class="conx-datainfouserinfoh">ชื่อลูกค้า</div>
                                                <div class="conx-datainfouserinfo">Name Surname</div>
                                            </div>
                                            <div class="col-4">
                                                <div class="conx-datainfouserinfoh">ประเภทลูกค้า</div>
                                                <div class="conx-datainfouserinfo">ทั่วไป</div>
                                            </div>

                                        </div>

                                    </div>
                                    <div class="col-2 conx-datainfouserdiv">
                                        <div class="conx-datainfouserinfoh">จำนวน</div>
                                        <div class="conx-datainfouserinfobiggreen">1</div>
                                    </div>
                                    <div class="col-3">
                                        <div class="conx-datainfouserinfoh">ยอดสุทธิ</div>
                                        <div class="conx-datainfouserinfobiggreen">8,188.00</div>
                                    </div>
    
                                </div>

                            </mat-card>
                        </div>

                        <div class="col-12" id="conx-datainfofourbutt">
                            
                            <div class="row">
                                
                                <div class="col-3">
                                    <button mat-button>พักบิล</button>
                                </div>
                                <div class="col-3">
                                    <button mat-button>ดึงพักบิล (0)</button>
                                </div>
                                <div class="col-3">
                                    <button mat-button>ยกเลิกบิล</button>
                                </div>
                                <div class="col-3">
                                    <button mat-button>ชำระเงิน</button>
                                </div>

                            </div>

                        </div>

                        <div class="col-12">
                            <mat-card>
                                
                                <table class="table" id="conx-datainfoitemstable">
                                    <thead class="thead-light">
                                        <tr>
                                            <th scope="col">รูปสินค้า</th>
                                            <th scope="col">ชื่อสินค้า</th>
                                            <th scope="col">ราคา/หน่วย</th>
                                            <th scope="col">จำนวน</th>
                                            <th scope="col">ส่วนลด</th>
                                            <th scope="col">ราคาสุทธิ</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        <!-- START TABLE LOOP -->

                                        <tr class="conx-datainfotrloop" class="conx-datainfotrloop">
                                            <td><img src="/assets/conxo/demo/product1.jpg" alt="Demo Product" width="80" class="border-0" /></td>
                                            <td>ACC002 กล่องใส่ของด้านหลัง GIVI 30L สีดำ(KIT TOP BOX BLACK)</td>
                                            <td>8,188.00</td>
                                            <td>
                                                <button mat-mini-fab aria-label="remove"><mat-icon>remove</mat-icon></button>
                                                <span>1</span>
                                                <button mat-mini-fab aria-label="add"><mat-icon>add</mat-icon></button>
                                            </td>
                                            <td>150</td>
                                            <td>8,188.00</td>
                                        </tr>

                                        <!-- END TABLE LOOP -->

                                    </tbody>
                                  </table>

                                  <div id="conx-datainfoitemstools">
                                        <button mat-button (click)="openDialog()">ส่วนลด</button>
                                        <button mat-button>ลบรายการ</button>
                                  </div>

                            </mat-card>
                        </div>

                    </div>

                </div>

                <div class="col-5 conx-datainfomaincolumnright">

                    <div class="row">
                                
                                <div class="col-6">
                                    <h1 class="conx-datainfoh1"><i class="conx-datainfocustomicon2"></i> สินค้าขายดี<span class="conx-headbreadcrumb"></span></h1>
                                </div>
                                <div class="col-6">
                                    
                                    <div class="conx-datainfosellsearchdiv">

                                        <mat-form-field appearance="outline">
                                          <mat-label> </mat-label>
                                          <input matInput placeholder="Placeholder">
                                          <mat-icon matSuffix>search</mat-icon>
                                        </mat-form-field>
                                    
                                    </div>

                                </div>

                    </div>

                    <div class="row" id="conx-bestselleritemsdiv">
                    
                        <div class="col-md-3 col-lg-3 col-sm-2 col-3 mb-3 conx-divforcard">
                            <mat-card>
                                <mat-card-content>
                                <button mat-raised-button>
                                    <div class="card-body text-center conx-bestsellericon pb-0">
                                        <img src="/assets/conxo/demo/product1.jpg" alt="Demo Product" class="border-0" />
                                        <p class="card-text mt-4 mb-0">ACCC002<br>ตัวอย่างสินค้าที่กำลังขาย
                                        <span class="conx-incardbestsellerprice">2,500 บาท</span>
                                        </p>
                                    </div>
                                </button>
                                </mat-card-content>
                            </mat-card>
                        </div>
                
                        <div class="col-md-3 col-lg-3 col-sm-2 col-3 mb-3 conx-divforcard">
                            <mat-card>
                                <mat-card-content>
                                <button mat-raised-button>
                                    <div class="card-body text-center conx-bestsellericon pb-0">
                                        <img src="/assets/conxo/demo/product2.jpg" alt="Demo Product" class="border-0" />
                                        <p class="card-text mt-4 mb-0">ACCC002<br>ตัวอย่างสินค้าที่กำลังขาย
                                        <span class="conx-incardbestsellerprice">2,500 บาท</span>
                                        </p>
                                    </div>
                                </button>
                                </mat-card-content>
                            </mat-card>
                        </div>
                
                        <div class="col-md-3 col-lg-3 col-sm-2 col-3 mb-3 conx-divforcard">
                            <mat-card>
                                <mat-card-content>
                                <button mat-raised-button>
                                    <div class="card-body text-center conx-bestsellericon pb-0">
                                        <img src="/assets/conxo/demo/product3.jpg" alt="Demo Product" class="border-0" />
                                        <p class="card-text mt-4 mb-0">ACCC002<br>ตัวอย่างสินค้าที่กำลังขาย
                                        <span class="conx-incardbestsellerprice">2,500 บาท</span>
                                        </p>
                                    </div>
                                </button>
                                </mat-card-content>
                            </mat-card>
                        </div>
                
                        <div class="col-md-3 col-lg-3 col-sm-2 col-3 mb-3 conx-divforcard">
                            <mat-card>
                                <mat-card-content>
                                <button mat-raised-button>
                                    <div class="card-body text-center conx-bestsellericon pb-0">
                                        <img src="/assets/conxo/demo/product3.jpg" alt="Demo Product" class="border-0" />
                                        <p class="card-text mt-4 mb-0">ACCC002<br>ตัวอย่างสินค้าที่กำลังขาย
                                        <span class="conx-incardbestsellerprice">2,500 บาท</span>
                                        </p>
                                    </div>
                                </button>
                                </mat-card-content>
                            </mat-card>
                        </div>
                
                        <div class="col-md-3 col-lg-3 col-sm-2 col-3 mb-3 conx-divforcard">
                            <mat-card>
                                <mat-card-content>
                                <button mat-raised-button>
                                    <div class="card-body text-center conx-bestsellericon pb-0">
                                        <img src="/assets/conxo/demo/product4.jpg" alt="Demo Product" class="border-0" />
                                        <p class="card-text mt-4 mb-0">ACCC002<br>ตัวอย่างสินค้าที่กำลังขาย
                                        <span class="conx-incardbestsellerprice">2,500 บาท</span>
                                        </p>
                                    </div>
                                </button>
                                </mat-card-content>
                            </mat-card>
                        </div>
                
                        <div class="col-md-3 col-lg-3 col-sm-2 col-3 mb-3 conx-divforcard">
                            <mat-card>
                                <mat-card-content>
                                <button mat-raised-button>
                                    <div class="card-body text-center conx-bestsellericon pb-0">
                                        <img src="/assets/conxo/demo/product1.jpg" alt="Demo Product" class="border-0" />
                                        <p class="card-text mt-4 mb-0">ACCC002<br>ตัวอย่างสินค้าที่กำลังขาย
                                        <span class="conx-incardbestsellerprice">2,500 บาท</span>
                                        </p>
                                    </div>
                                </button>
                                </mat-card-content>
                            </mat-card>
                        </div>
                
                        <div class="col-md-3 col-lg-3 col-sm-2 col-3 mb-3 conx-divforcard">
                            <mat-card>
                                <mat-card-content>
                                <button mat-raised-button>
                                    <div class="card-body text-center conx-bestsellericon pb-0">
                                        <img src="/assets/conxo/demo/product2.jpg" alt="Demo Product" class="border-0" />
                                        <p class="card-text mt-4 mb-0">ACCC002<br>ตัวอย่างสินค้าที่กำลังขาย
                                        <span class="conx-incardbestsellerprice">2,500 บาท</span>
                                        </p>
                                    </div>
                                </button>
                                </mat-card-content>
                            </mat-card>
                        </div>
                
                        <div class="col-md-3 col-lg-3 col-sm-2 col-3 mb-3 conx-divforcard">
                            <mat-card>
                                <mat-card-content>
                                <button mat-raised-button>
                                    <div class="card-body text-center conx-bestsellericon pb-0">
                                        <img src="/assets/conxo/demo/product1.jpg" alt="Demo Product" class="border-0" />
                                        <p class="card-text mt-4 mb-0">ACCC002<br>ตัวอย่างสินค้าที่กำลังขาย
                                        <span class="conx-incardbestsellerprice">2,500 บาท</span>
                                        </p>
                                    </div>
                                </button>
                                </mat-card-content>
                            </mat-card>
                        </div>

                        <div class="col-md-3 col-lg-3 col-sm-2 col-3 mb-3 conx-divforcard">
                            <mat-card>
                                <mat-card-content>
                                  <button mat-raised-button routerLink="/app/datainfo/bestseller/product/added">
                                    <div class="card-body text-center conx-bestsellericon pb-0">
                                        <i class="iconsminds-empty-box"></i>
                                        <p class="card-text mt-4 mb-0">หมวกกันน็อค</p>
                                        <span class="conx-incardbestsellerprice"> </span>
                                    </div>
                                  </button>
                                </mat-card-content>
                              </mat-card>
                        </div>

                    </div>
                
                </div>

    </div>

</div>