.conx-datainfomaincolumnleft {

}
.conx-datainfomaincolumnright {
    border-left: 1px solid #c3c3c3;
}
.conx-datainfouserdiv {
    border-left: 1px solid #c3c3c3;
    border-right: 1px solid #c3c3c3;
}
.conx-datainfoh1 {
    color: #797979;
    margin-bottom: 0px;
    margin-top: 15PX;
}
.conx-datainfocustomicon1 {
    width: 30px;
    height: 30px;
    display: inline-block;
    margin-bottom: -5px;
    margin-right: 8px;
    background-size: 28px;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url('data:image/svg+xml;utf8,<svg id="Layer_1" enable-background="new 0 0 512.028 512.028" height="512" viewBox="0 0 512.028 512.028" width="512" xmlns="http://www.w3.org/2000/svg"><g><g><path fill="%23797979" d="m512.028 142.949h-30v-45.004h-45.033v-30h75.033z"/></g><g><path fill="%23797979" d="m30 142.949h-30v-75.004h75.034v30h-45.034z"/></g><g><path fill="%23797979" d="m512.028 444.083h-75.033v-30h45.033v-45.003h30z"/></g><g><path fill="%23797979" d="m75.034 444.083h-75.034v-75.003h30v45.003h45.034z"/></g><g><path fill="%23797979" d="m64.264 125.792h30v260.443h-30z"/></g><g><path fill="%23797979" d="m123.179 125.792h30v200.439h-30z"/></g><g><path fill="%23797979" d="m182.095 125.792h30v200.439h-30z"/></g><g><path fill="%23797979" d="m241.01 125.792h30v260.443h-30z"/></g><g><path fill="%23797979" d="m299.926 125.792h30v260.443h-30z"/></g><g><path fill="%23797979" d="m417.757 125.792h30v260.443h-30z"/></g><g><path fill="%23797979" d="m358.841 125.792h30v200.439h-30z"/></g><g><path fill="%23797979" d="m123.179 356.234h30v30.002h-30z"/></g><g><path fill="%23797979" d="m182.095 356.234h30v30.002h-30z"/></g><g><path fill="%23797979" d="m358.841 356.234h30v30.002h-30z"/></g></g></svg>');
}
.conx-datainfocustomicon2 {
    width: 30px;
    height: 30px;
    display: inline-block;
    margin-bottom: -5px;
    margin-right: 8px;
    background-size: 28px;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" id="Layer_1" data-name="Layer 1" viewBox="0 0 512 512" width="512" height="512"><title>Package_1</title><path fill="%233ab54a" d="M459.5,134.468,259.5,19a7,7,0,0,0-7,0L52.5,134.468A7,7,0,0,0,49,140.53V371.47a7,7,0,0,0,3.5,6.062L252.5,493a7.005,7.005,0,0,0,7,0l200-115.471a7,7,0,0,0,3.5-6.062V140.53A7,7,0,0,0,459.5,134.468ZM256,33.143l84.024,48.511L154.038,189.033,70.014,140.522Zm-7,441.673L63,367.429V152.638L249,260.026ZM256,247.9l-87.961-50.785L354.025,89.737l87.961,50.785ZM449,367.429,263,474.816V260.026L449,152.638Z"/></svg>');
}
div.conx-datainfobarcode > mat-form-field {
    width: 100%;
}
#conx-bestselleritemsdiv {
    zoom: 80%;
}
#conx-bestselleritemsdiv > div.col-lg-3 {
    flex: 0 0 33%;
    max-width: 33%;
}
#conx-bestselleritemsdiv > div.col-md-3 {
    flex: 0 0 33%;
    max-width: 33%;
}
.conx-datainfouseravatar {
    width: 80px;
    height: 80px;
    background-color: #3ab54a;
    border-radius: 50%;
    font-size: 45px;
    text-align: center;
    padding: 15px;
    color: #fff;
}
.conx-datainfouserinfoh {
    font-family: 'Kanit', sans-serif;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 10px;
}
.conx-datainfouserinfobiggreen {
    font-size: 32px;
    font-weight: bold;
    margin-top: 20px;
    color: #3ab54a;
}
#conx-datainfofourbutt > div > div:nth-child(1) > button {
    background-color: #4a6f4e !important;
    border: 1px solid #4a6f4e;
    color: #fff;
    width: 100%;
    padding: 3px;
    font-size: 18px;
    border-radius: 10px;
    margin-top: 30px;
    margin-bottom: 20px;
    box-shadow: rgb(50 50 93 / 25%) 0px 2px 5px -1px, rgb(0 0 0 / 30%) 0px 1px 3px -1px;
}
#conx-datainfofourbutt > div > div:nth-child(2) > button {
    background-color: #4a6f4e !important;
    border: 1px solid #4a6f4e;
    color: #fff;
    width: 100%;
    padding: 3px;
    font-size: 18px;
    border-radius: 10px;
    margin-top: 30px;
    margin-bottom: 20px;
    box-shadow: rgb(50 50 93 / 25%) 0px 2px 5px -1px, rgb(0 0 0 / 30%) 0px 1px 3px -1px;
}
#conx-datainfofourbutt > div > div:nth-child(3) > button {
    background-color: #666666 !important;
    border: 1px solid #666666;
    color: #fff;
    width: 100%;
    padding: 3px;
    font-size: 18px;
    border-radius: 10px;
    margin-top: 30px;
    margin-bottom: 20px;
    box-shadow: rgb(50 50 93 / 25%) 0px 2px 5px -1px, rgb(0 0 0 / 30%) 0px 1px 3px -1px;
}
#conx-datainfofourbutt > div > div:nth-child(4) > button {
    background-color: #3ab54a !important;
    border: 1px solid #3ab54a;
    color: #fff;
    width: 100%;
    padding: 3px;
    font-size: 18px;
    border-radius: 10px;
    margin-top: 30px;
    margin-bottom: 20px;
    padding-left: 35px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    background-image: url('data:image/svg+xml;utf8,<svg height="384pt" viewBox="0 0 384 384" width="384pt" xmlns="http://www.w3.org/2000/svg"><path fill="white" d="m192 384c105.863281 0 192-86.128906 192-192 0-18.273438-2.550781-36.28125-7.601562-53.527344-2.488282-8.480468-11.34375-13.351562-19.847657-10.863281-8.488281 2.480469-13.34375 11.367187-10.863281 19.847656 4.183594 14.328125 6.3125 29.320313 6.3125 44.542969 0 88.222656-71.777344 160-160 160s-160-71.777344-160-160 71.777344-160 160-160c32.0625 0 62.910156 9.375 89.207031 27.105469 7.320313 4.941406 17.273438 3 22.207031-4.320313 4.9375-7.328125 3.011719-17.273437-4.316406-22.210937-31.601562-21.308594-68.632812-32.574219-107.097656-32.574219-105.863281 0-192 86.128906-192 192s86.136719 192 192 192zm0 0"/><path fill="white" d="m356.6875 36.6875-164.6875 164.679688-52.6875-52.679688c-6.25-6.246094-16.375-6.246094-22.625 0-6.246094 6.25-6.246094 16.375 0 22.625l64 64c3.128906 3.128906 7.214844 4.6875 11.3125 4.6875s8.183594-1.558594 11.3125-4.6875l176-176c6.246094-6.25 6.246094-16.375 0-22.625-6.25-6.246094-16.375-6.246094-22.625 0zm0 0"/></svg>');
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: 1.2em center;
}
#conx-datainfofourbutt > div > div > button:hover {
    color: #ff0 !important;
    border: 1px solid #8f8f8f;
    background-color: #8f8f8f !important;
}
#conx-datainfoitemstable > thead > tr > th {
    vertical-align: middle;
    text-align: center;
}
.conx-datainfotrloop > td:nth-child(4) {
    min-width: 90px;
    padding-left: 5px;
    padding-right: 5px;
}
.conx-datainfotrloop > td:nth-child(4) > button {
    zoom: 50%;
    display: inline-block;
    top: -10px;
    cursor: pointer;
}
.conx-datainfotrloop > td:nth-child(4) > span {
    display: inline-block;
    width: 40px;
    text-align: center;
    border-bottom: 1px solid #c1c1c1;
}
.conx-datainfotrloop > td {
    color: #3ab54a;
    text-align: center;
}
.conx-datainfotrloop > td:nth-child(2) {
    color: #3a3a3a;
    text-align: left;
}

#conx-datainfoitemstools {
    text-align: right;
}
#conx-datainfoitemstools > button:nth-child(1) {
    background-color: #000 !important;
    border: 1px solid #000;
    color: #fff;
    width: 25%;
    padding: 3px;
    font-size: 18px;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 35px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    background-image: url('data:image/svg+xml;utf8,<svg height="437pt" viewBox="0 0 437.00442 437" width="437pt" xmlns="http://www.w3.org/2000/svg"><path fill="white" d="m229 14.644531c-9.699219-9.671875-22.933594-14.957031-36.628906-14.628906l-140.078125 3.570313c-26.621094.664062-48.046875 22.085937-48.710938 48.710937l-3.566406 140.074219c-.324219 13.695312 4.957031 26.929687 14.625 36.632812l193.367187 193.359375c19.539063 19.496094 51.167969 19.496094 70.707032 0l143.644531-143.644531c19.527344-19.523438 19.527344-51.183594 0-70.710938zm179.21875 249.933594-143.644531 143.640625c-11.722657 11.699219-30.703125 11.699219-42.425781 0l-193.363282-193.359375c-5.800781-5.824219-8.972656-13.761719-8.777344-21.980469l3.566407-140.074218c.402343-15.972657 13.253906-28.828126 29.226562-29.226563l140.074219-3.570313c.253906-.003906.5-.007812.753906-.007812 7.957032.011719 15.585938 3.171875 21.222656 8.789062l193.367188 193.363282c11.695312 11.722656 11.695312 30.703125 0 42.425781zm0 0"/><path fill="white" d="m130.71875 82.574219c-26.589844 0-48.144531 21.554687-48.148438 48.144531 0 26.589844 21.558594 48.144531 48.144532 48.144531 26.589844 0 48.144531-21.554687 48.144531-48.144531-.03125-26.574219-21.566406-48.113281-48.140625-48.144531zm0 76.289062c-15.546875 0-28.144531-12.601562-28.148438-28.144531 0-15.542969 12.601563-28.144531 28.144532-28.144531 15.542968 0 28.144531 12.601562 28.144531 28.144531-.015625 15.535156-12.605469 28.125-28.140625 28.144531zm0 0"/></svg>');
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: 1.2em center;
}
#conx-datainfoitemstools > button:nth-child(2) {
    background-color: #f00 !important;
    border: 1px solid #f00;
    color: #fff;
    width: 25%;
    padding: 3px;
    font-size: 18px;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 35px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    background-image: url('data:image/svg+xml;utf8,<svg id="Layer_1" enable-background="new 0 0 512 512" height="512" viewBox="0 0 512 512" width="512" xmlns="http://www.w3.org/2000/svg"><g><path fill="white" d="m424 64h-88v-16c0-26.467-21.533-48-48-48h-64c-26.467 0-48 21.533-48 48v16h-88c-22.056 0-40 17.944-40 40v56c0 8.836 7.164 16 16 16h8.744l13.823 290.283c1.221 25.636 22.281 45.717 47.945 45.717h242.976c25.665 0 46.725-20.081 47.945-45.717l13.823-290.283h8.744c8.836 0 16-7.164 16-16v-56c0-22.056-17.944-40-40-40zm-216-16c0-8.822 7.178-16 16-16h64c8.822 0 16 7.178 16 16v16h-96zm-128 56c0-4.411 3.589-8 8-8h336c4.411 0 8 3.589 8 8v40c-4.931 0-331.567 0-352 0zm313.469 360.761c-.407 8.545-7.427 15.239-15.981 15.239h-242.976c-8.555 0-15.575-6.694-15.981-15.239l-13.751-288.761h302.44z"/><path fill="white" d="m256 448c8.836 0 16-7.164 16-16v-208c0-8.836-7.164-16-16-16s-16 7.164-16 16v208c0 8.836 7.163 16 16 16z"/><path fill="white" d="m336 448c8.836 0 16-7.164 16-16v-208c0-8.836-7.164-16-16-16s-16 7.164-16 16v208c0 8.836 7.163 16 16 16z"/><path fill="white" d="m176 448c8.836 0 16-7.164 16-16v-208c0-8.836-7.164-16-16-16s-16 7.164-16 16v208c0 8.836 7.163 16 16 16z"/></g></svg>');
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: 1.2em center;
}
#conx-datainfoitemstools > button:hover {
    color: #ff0 !important;
    border: 1px solid #8f8f8f;
    background-color: #8f8f8f !important;
}

/* SAME AS bestseller.component.scss */

.conx-divforcard {
  min-height: 280px;
}
.conx-divforcard > mat-card {
  min-height: 275px;
}
.conx-divforcard > mat-card > mat-card-content > button {
  outline: none !important;
  background-color: #fff !important;
  border: none !important;
  transition: box-shadow 1000ms;
  cursor: pointer;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  border-radius: 15px !important;
  box-shadow: 0 1px 15px rgb(0 0 0 / 4%), 0 1px 6px rgb(0 0 0 / 4%);
  width: 100%;
}
.conx-divforcard > mat-card > mat-card-content > button {
  box-shadow: none !important;
  padding: 0px !important;
  min-height: 240px;
}
.conx-divforcard > mat-card {
  border-radius: 10px;
}
.conx-incardbestsellerprice {
  display: block;
  text-align: left;
  padding: 10px;
  padding-left: 5px;
  font-weight: 400;
  color: #00a656 !important;
  font-size: 16px;
}
.conx-bestsellericon > i:before {
  color: #8f8f8f !important;
  font-size: 52px;
}
