<div class="container-fluid">

  <div class="row">

    <div class="col-8">
      
      <h1><i class="conx-posh1customicon"></i> ชำระเงิน<span class="conx-headbreadcrumb"></span></h1>

    </div>

    <div class="col-4 text-right">
    </div>

    <div class="col-12"></div>

    <div class="col-sm-6 col-md-7 col-7">
      
      <section class="conx-possection conx-possectionleft">
        <mat-card>
          
          <div class="row">

            <div class="col-12">
                <h1>วิธีการชำระเงิน</h1>
            </div>

            <div class="col-sm-6 col-md-3 col-3 mb-3">
                
                  <button mat-raised-button>
                    <div class="card-body text-center conx-posinicon">
                        <div class="conx-poscustomicondiv conx-poscustomicon1"></div>
                        <p class="card-text mt-3 mb-0">เงินสด</p>
                        <span class="conx-incardbestsellerprice"> </span>
                    </div>
                  </button>

            </div>

            <div class="col-sm-6 col-md-3 col-3 mb-3">
                
                <button mat-raised-button>
                  <div class="card-body text-center conx-posinicon">
                      <div class="conx-poscustomicondiv conx-poscustomicon2"></div>
                      <p class="card-text mt-3 mb-0">บัตรเครดิต</p>
                      <span class="conx-incardbestsellerprice"> </span>
                  </div>
                </button>

            </div>

            <div class="col-sm-6 col-md-3 col-3 mb-3">
                
                <button mat-raised-button>
                  <div class="card-body text-center conx-posinicon">
                      <div class="conx-poscustomicondiv conx-poscustomicon3"></div>
                      <p class="card-text mt-3 mb-0">เงินโอน</p>
                      <span class="conx-incardbestsellerprice"> </span>
                  </div>
                </button>

            </div>

            <div class="col-sm-6 col-md-3 col-3 mb-3">
                
                <button mat-raised-button>
                  <div class="card-body text-center conx-posinicon">
                      <div class="conx-poscustomicondiv conx-poscustomicon4"></div>
                      <p class="card-text mt-3 mb-0">คูปองส่วนลด</p>
                      <span class="conx-incardbestsellerprice"> </span>
                  </div>
                </button>

            </div>

            <div class="col-sm-6 col-md-3 col-3 mb-3">
                
                <button mat-raised-button>
                  <div class="card-body text-center conx-posinicon">
                      <div class="conx-poscustomicondiv conx-poscustomicon5"></div>
                      <p class="card-text mt-3 mb-0">ใบลดหนี้</p>
                      <span class="conx-incardbestsellerprice"> </span>
                  </div>
                </button>

            </div>

            <div class="col-12">
                <hr>
            </div>

            <div class="col-6 conx-posindivinput">
              <h5 class="text-danger">*จำนวนเงินสดรับ</h5>
              <mat-form-field appearance="outline">
                <mat-label> </mat-label>
                <input matInput placeholder="Placeholder">
              </mat-form-field>
            </div>

            <div class="col-6 conx-posindivinput">
              <h5>รายละเอียดเพื่มเติม</h5>
              <mat-form-field appearance="outline">
                <mat-label> </mat-label>
                <input matInput placeholder="Placeholder">
              </mat-form-field>
            </div>

            <div class="col-12">
                <hr class="conx-dothr">
            </div>

            <div class="col-12" id="conx-posbottombutt">
              <mat-dialog-actions>
                <button mat-button>ตกลง</button>
              </mat-dialog-actions>
            </div>


          </div>

        </mat-card>
      </section>
      
    </div>

    <div class="col-sm-6 col-md-5 col-5">
      
      <section class="conx-possection conx-possectionright">
        <mat-card>
          BODY 2
        </mat-card>
      </section>

    </div>

  </div>

</div>