<div class="container-fluid">

  <div class="row">

    <div class="col-8">
      
      <h1><i class="conx-posh1customicon"></i> ชำระเงิน<span class="conx-headbreadcrumb"></span></h1>

    </div>

    <div class="col-4 text-right">
    </div>

    <div class="col-12"></div>

    <div class="col-sm-6 col-md-7 col-7">
      
      <section class="conx-possection conx-possectionleft">
        <mat-card>
          
          <div class="row">

            <div class="col-12">
                <h1>วิธีการชำระเงิน</h1>
            </div>

            <div class="col-sm-6 col-md-3 col-3 mb-3">
                
                  <button mat-raised-button>
                    <div class="card-body text-center conx-posinicon">
                        <div class="conx-poscustomicondiv conx-poscustomicon1"></div>
                        <p class="card-text mt-3 mb-0">เงินสด</p>
                        <span class="conx-incardbestsellerprice"> </span>
                    </div>
                  </button>

            </div>

            <div class="col-sm-6 col-md-3 col-3 mb-3">
                
                <button mat-raised-button>
                  <div class="card-body text-center conx-posinicon">
                      <div class="conx-poscustomicondiv conx-poscustomicon2"></div>
                      <p class="card-text mt-3 mb-0">บัตรเครดิต</p>
                      <span class="conx-incardbestsellerprice"> </span>
                  </div>
                </button>

            </div>

            <div class="col-sm-6 col-md-3 col-3 mb-3">
                
                <button mat-raised-button>
                  <div class="card-body text-center conx-posinicon">
                      <div class="conx-poscustomicondiv conx-poscustomicon3"></div>
                      <p class="card-text mt-3 mb-0">เงินโอน</p>
                      <span class="conx-incardbestsellerprice"> </span>
                  </div>
                </button>

            </div>

            <div class="col-sm-6 col-md-3 col-3 mb-3">
                
                <button mat-raised-button>
                  <div class="card-body text-center conx-posinicon">
                      <div class="conx-poscustomicondiv conx-poscustomicon4"></div>
                      <p class="card-text mt-3 mb-0">คูปองส่วนลด</p>
                      <span class="conx-incardbestsellerprice"> </span>
                  </div>
                </button>

            </div>

            <div class="col-sm-6 col-md-3 col-3 mb-3">
                
                <button mat-raised-button>
                  <div class="card-body text-center conx-posinicon">
                      <div class="conx-poscustomicondiv conx-poscustomicon5"></div>
                      <p class="card-text mt-3 mb-0">ใบลดหนี้</p>
                      <span class="conx-incardbestsellerprice"> </span>
                  </div>
                </button>

            </div>

            <div class="col-12">
                <hr>
            </div>

            <div class="col-6 conx-posindivinput">
              <h5 class="text-danger">*จำนวนเงินสดรับ</h5>
              <mat-form-field appearance="outline">
                <mat-label> </mat-label>
                <input matInput placeholder="Placeholder">
              </mat-form-field>
            </div>

            <div class="col-6 conx-posindivinput">
              <h5>รายละเอียดเพื่มเติม</h5>
              <mat-form-field appearance="outline">
                <mat-label> </mat-label>
                <input matInput placeholder="Placeholder">
              </mat-form-field>
            </div>

            <div class="col-12">
                <hr class="conx-dothr">
            </div>

            <div class="col-12" id="conx-posbottombutt">

                <button mat-button>ตกลง</button>

            </div>

          </div>

        </mat-card>
      </section>
      
    </div>

    <div class="col-sm-6 col-md-5 col-5">
      
      <section class="conx-possection conx-possectionright">
        <mat-card>
          
          <div class="row">

            <div class="col-sm-6 col-md-6 col-6 text-left">
                <p class="conx-possidetext conx-possidetexttop"><i class="conx-possumcustomicon"></i> ยอดชำระ</p> 
            </div>
            <div class="col-sm-6 col-md-6 col-6 text-right">
              <p class="conx-possidetext"><span class="conx-possumtexttop">{{paymentamount}}</span><span class="conx-poscurtop">บาท</span></p>
            </div>

            <div class="col-12">
                <hr>
            </div>

            <div class="col-sm-6 col-md-6 col-6 text-left">
                <p class="conx-possidetext">ยอดสุทธิ</p> 
            </div>
            <div class="col-sm-6 col-md-6 col-6 text-right">
                <p class="conx-possidetext">{{netamount}}</p> 
            </div>

            <div class="col-sm-6 col-md-6 col-6 text-left">
                <p class="conx-possidetext conx-possidetextpercent">% ส่วนลด</p> 
            </div>
            <div class="col-sm-6 col-md-6 col-6 text-right">
                <p class="conx-possidetext">{{perdiscount}}</p> 
            </div>

            <div class="col-sm-6 col-md-6 col-6 text-left">
                <p class="conx-possidetext">ยอดที่ต้องชำระ</p> 
            </div>
            <div class="col-sm-6 col-md-6 col-6 text-right">
                <p class="conx-possidetext">{{amounttobepaid}}</p> 
            </div>

            <div class="col-sm-6 col-md-6 col-6 text-left">
                <p class="conx-possidetext">ยอดที่ชำระแล้ว</p> 
            </div>
            <div class="col-sm-6 col-md-6 col-6 text-right">
                <p class="conx-possidetext">{{paidamount}}</p> 
            </div>

            <div class="col-sm-6 col-md-6 col-6 text-left">
                <p class="conx-possidetext">ยอดค้างชำระ</p> 
            </div>
            <div class="col-sm-6 col-md-6 col-6 text-right">
                <p class="conx-possidetext">{{outstandingbalance}}</p> 
            </div>

            <div class="col-12">
                <hr>
            </div>

            <div class="col-sm-12 col-md-12 col-12 text-left">
                <p class="conx-possidetext conx-possidetexttop"><i class="conx-possumcustomicon"></i> รายการชำระ</p> 
            </div>

            <div class="col-sm-6 col-md-6 col-6 text-left">
                <p class="conx-possidegreenhead">เงินสด</p>
            </div>
            <div class="col-sm-6 col-md-6 col-6 text-right">
              <p class="conx-possidetext conx-possidedelbutt">
                <button mat-button>Delete</button>
              </p>
            </div>

            <div class="col-12">
              <div class="row conx-possidegreenbg">

                <div class="col-sm-6 col-md-6 col-6 text-left">
                  <p class="conx-possidetext">เงินสดรับ</p> 
                </div>
                <div class="col-sm-6 col-md-6 col-6 text-right">
                    <p class="conx-possidetext">{{cashreceived}}</p> 
                </div>
                <div class="col-sm-6 col-md-6 col-6 text-left">
                  <p class="conx-possidetext">ยอดชำระ</p> 
                </div>
                <div class="col-sm-6 col-md-6 col-6 text-right">
                    <p class="conx-possidetext">{{cashpayment}}</p> 
                </div>
                <div class="col-sm-6 col-md-6 col-6 text-left">
                  <p class="conx-possidetext">เงินทอน</p> 
                </div>
                <div class="col-sm-6 col-md-6 col-6 text-right">
                    <p class="conx-possidetext">{{cashchange}}</p> 
                </div>

              </div>
            </div>

            <div class="col-sm-6 col-md-6 col-6 text-left">
              <p class="conx-possidegreenhead">บัตรเครดิต</p>
            </div>
            <div class="col-sm-6 col-md-6 col-6 text-right">
                <p class="conx-possidetext conx-possidedelbutt">
                  <button mat-button>Delete</button>
                </p>
            </div>

            <div class="col-12">
              <div class="row conx-possidegreenbg">

                <div class="col-sm-6 col-md-6 col-6 text-left">
                  <p class="conx-possidetext">ยอดชำระ</p> 
                </div>
                <div class="col-sm-6 col-md-6 col-6 text-right">
                    <p class="conx-possidetext">{{creditpayment}}</p> 
                </div>
                <div class="col-sm-6 col-md-6 col-6 text-left">
                  <p class="conx-possidetext">รายละเอียด</p> 
                </div>
                <div class="col-sm-6 col-md-6 col-6 text-right">
                    <p class="conx-possidetext">{{creditdetails}}</p> 
                </div>

              </div>
            </div>

            <div class="col-12">
                <hr class="conx-possidebottomhr">
            </div>

            <div class="col-12" id="conx-possidebottombutt">
              
              <div>
                <button mat-button>ย้อนกลับ</button>
                <button mat-button (click)="openDialog()">ยืนยัน</button>
              </div>

          </div>

          </div>

        </mat-card>
      </section>

    </div>

  </div>

</div>