<div id="BestsellerAddnewPopup">

  <mat-dialog-content class="mat-typography">

    <mat-card>
      <mat-card-content>

        <section>
          <mat-radio-group [(ngModel)]="AddnewPosition">
            <mat-radio-button value="groupshow"
              >กลุ่ม</mat-radio-button>
            <mat-radio-button value="productshow"
              >สินค้า</mat-radio-button>
          </mat-radio-group>
        </section>

      </mat-card-content>
    </mat-card>

    <!-- ADD GROUP TAB -->
    <mat-card class="{{AddnewPosition}}">
      <mat-card-content>
        <h3>ชื่อกลุ่ม</h3>
        <mat-form-field>
          <mat-label>ชื่อกลุ่ม</mat-label>
          <input matInput type="text" [(ngModel)]="inputData" />
        </mat-form-field>
      </mat-card-content>
    </mat-card>

    <!-- ADD PRODUCT TAB -->
    <mat-card class="{{AddnewPosition}}">
      <mat-card-content>

        <h3>บาร์โค๊ด</h3>
        <table cellspacing="0"><tr>
          <td><mat-form-field>
            <mat-label>บาร์โค๊ด</mat-label>
            <input matInput type="text" [(ngModel)]="inputData" />
          </mat-form-field></td>
          <td>
            <button mat-button>ค้นหา</button>
          </td>
        </tr></table>

        <h3>ชื่อสินค้า</h3>
        <mat-form-field>
          <mat-label>บาร์โค๊ด</mat-label>
          <input matInput type="text" [(ngModel)]="inputData" />
        </mat-form-field>

      </mat-card-content>
    </mat-card>


  </mat-dialog-content>

</div>

<div id="BestsellerAddnewPopupButt">

  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>ยกเลิก</button>
    <button mat-button mat-dialog-close cdkFocusInitial routerLink="/app/datainfo/bestseller/product/added">ยืนยัน</button>
  </mat-dialog-actions>

</div>

<div>
  
</div>