/* IT INCLUDE BUT IT CANNOT OVERWRITTE with indigo-pink.css BECAUSE ORDER of STACK  */

#DatainfoChooseDiscountPopupTopBackButt > button {
    background-color: transparent;
    border: none;
    color: #000;
    width: 25%;
    padding: 3px;
    font-size: 16px;
    padding-left: 32px;
    display: block;
    float: right;
    background-image: url('data:image/svg+xml;utf8,<svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 240.823 240.823" style="enable-background:new 0 0 240.823 240.823;" xml:space="preserve"> <g> <path fill="black" id="Chevron_Right" d="M57.633,129.007L165.93,237.268c4.752,4.74,12.451,4.74,17.215,0c4.752-4.74,4.752-12.439,0-17.179 l-99.707-99.671l99.695-99.671c4.752-4.74,4.752-12.439,0-17.191c-4.752-4.74-12.463-4.74-17.215,0L57.621,111.816 C52.942,116.507,52.942,124.327,57.633,129.007z"/></g></svg>');
    background-size: 21px;
    background-repeat: no-repeat;
    background-position: 1em center;
}
 #DatainfoChooseDiscountPopup > mat-dialog-content {
    height: 100% !important;
    overflow: visible !important;
}
.conx-datainfochoosediscspacer {
    margin-top: 3em;
}
.conx-datainfochoosediscspacer2 {
    margin-bottom: 2em;
}
.conx-datainfochoosedisccustomicon {
    width: 30px;
    height: 30px;
    display: inline-block;
    margin-bottom: -10px;
    margin-right: 8px;
    background-size: 28px;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url('data:image/svg+xml;utf8,<svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 396.88 396.88" style="enable-background:new 0 0 396.88 396.88;" xml:space="preserve"> <g> <g> <path fill="%23797979" d="M321.16,0L75.72,0c-4.418,0-8,3.582-8,8v380.88c-0.011,3.191,1.875,6.084,4.8,7.36c1.011,0.431,2.101,0.649,3.2,0.64 c1.983-0.005,3.893-0.746,5.36-2.08L198.44,288L315.8,394.8c3.28,2.96,8.339,2.701,11.299-0.579 c1.322-1.465,2.056-3.367,2.061-5.341V8C329.16,3.582,325.578,0,321.16,0z M203.8,271.28c-3.057-2.797-7.743-2.797-10.8,0 L83.72,370.8V16h229.44l0,354.8L203.8,271.28z"/> </g> </g> <g> <g> <path fill="%23797979" d="M284.334,117.488c-1.232-1.28-2.856-2.113-4.614-2.368l-51.2-7.44l-23.2-46c-1.971-3.954-6.774-5.562-10.729-3.591 c-1.555,0.775-2.816,2.036-3.591,3.591l-22.88,46.4l-51.2,7.44c-4.372,0.634-7.403,4.693-6.768,9.066 c0.255,1.758,1.088,3.382,2.368,4.614l37.28,35.68l-8.48,51.36c-0.724,4.359,2.222,8.479,6.58,9.203 c1.716,0.285,3.478,0.003,5.02-0.803l45.76-24l45.76,24c3.915,2.048,8.749,0.535,10.797-3.38c0.806-1.541,1.088-3.304,0.803-5.02 l-8.96-51.36l37.04-36.08C287.303,125.736,287.399,120.671,284.334,117.488z M232.92,156.88c-1.879,1.825-2.746,4.455-2.32,7.04 l6.72,39.04l-35.2-18.48c-2.329-1.223-5.111-1.223-7.44,0l-35.12,18.48l6.72-39.12c0.426-2.585-0.441-5.215-2.32-7.04l-28.4-27.68 l39.28-6.16c2.602-0.391,4.845-2.036,6-4.4l17.6-35.6l17.6,35.6c1.155,2.364,3.398,4.009,6,4.4l39.28,5.68L232.92,156.88z"/> </g> </g> </svg>');
}
.conx-possidetext {
  font-size: 20px;
  line-height: 150%;
}
.conx-possidetexttop {
  font-weight: 300;
  font-size: 18px;
  color: #565656;
  margin-top: 10px;
}
 #DatainfoChooseDiscountPopupTopButt > button {
    background-color: #515254 !important;
    border: 1px solid #515254;
    color: #fff;
    width: 80%;
    padding: 5px;
    padding-left: 45px;
    font-size: 16px;
    border-radius: 10px;
    display: block;
    margin: auto;
    box-shadow: rgb(50 50 93 / 25%) 0px 2px 5px -1px, rgb(0 0 0 / 30%) 0px 1px 3px -1px;
    background-image: url('data:image/svg+xml;utf8,<svg id="Capa_1" enable-background="new 0 0 443.294 443.294" height="512" viewBox="0 0 443.294 443.294" width="512" xmlns="http://www.w3.org/2000/svg"><path fill="white" d="m235.5 166.235h-27.706v69.265h-69.264v27.706h69.265v69.265h27.705v-69.265h69.265v-27.706h-69.265z"/><path fill="white" d="m383.824 114.882-110.824-110.824c-2.597-2.597-6.114-4.058-9.794-4.058h-180.088c-15.274 0-27.706 12.432-27.706 27.706v387.882c0 15.273 12.432 27.706 27.706 27.706h277.059c15.273 0 27.706-12.432 27.706-27.706v-290.912c-.001-3.679-1.462-7.197-4.059-9.794zm-106.765-67.587 63.529 63.529h-63.529zm83.117 368.294h-277.058v-387.882h166.235v83.118c0 15.273 12.432 27.706 27.706 27.706h83.118v277.058z"/></svg>');
    background-size: 26px;
    background-repeat: no-repeat;
    background-position: 1em center;
}
#DatainfoChooseDiscountPopupTopButt > button:hover {
    background-color: #8f8f8f !important;
    border: 1px solid #8f8f8f;
    color: #ff0 !important;
}
.conx-datainfochoosediscformin > h5 {
    font-size: 16px;
    font-family:'Kanit', sans-serif;
    font-weight: 300;
}
.conx-datainfochoosediscformin > mat-form-field {
    width: 100%;
}
 #DatainfoChooseDiscountPopupButt {
    margin-bottom: 2em;
    margin-top: 2em;
}
 #DatainfoChooseDiscountPopupButt > button:nth-child(1) {
    background-color: #8f8f8f !important;
    border: 1px solid #8f8f8f;
    color: #fff;
    width: 45%;
    padding: 5px;
    font-size: 22px;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
 #DatainfoChooseDiscountPopupButt > button:nth-child(2) {
    background-color: #00a656 !important;
    border: 1px solid #00a656;
    color: #fff;
    width: 45%;
    padding: 5px;
    font-size: 22px;
    padding-left: 30px;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    background-image: url('data:image/svg+xml;utf8,<svg height="384pt" viewBox="0 0 384 384" width="384pt" xmlns="http://www.w3.org/2000/svg"><path fill="white" d="m192 384c105.863281 0 192-86.128906 192-192 0-18.273438-2.550781-36.28125-7.601562-53.527344-2.488282-8.480468-11.34375-13.351562-19.847657-10.863281-8.488281 2.480469-13.34375 11.367187-10.863281 19.847656 4.183594 14.328125 6.3125 29.320313 6.3125 44.542969 0 88.222656-71.777344 160-160 160s-160-71.777344-160-160 71.777344-160 160-160c32.0625 0 62.910156 9.375 89.207031 27.105469 7.320313 4.941406 17.273438 3 22.207031-4.320313 4.9375-7.328125 3.011719-17.273437-4.316406-22.210937-31.601562-21.308594-68.632812-32.574219-107.097656-32.574219-105.863281 0-192 86.128906-192 192s86.136719 192 192 192zm0 0"/><path fill="white" d="m356.6875 36.6875-164.6875 164.679688-52.6875-52.679688c-6.25-6.246094-16.375-6.246094-22.625 0-6.246094 6.25-6.246094 16.375 0 22.625l64 64c3.128906 3.128906 7.214844 4.6875 11.3125 4.6875s8.183594-1.558594 11.3125-4.6875l176-176c6.246094-6.25 6.246094-16.375 0-22.625-6.25-6.246094-16.375-6.246094-22.625 0zm0 0"/></svg>');
    background-size: 28px;
    background-repeat: no-repeat;
    background-position: 1.5em center;
}
 #DatainfoChooseDiscountPopupButt > button:hover {
    background-color: #565656 !important;
    border: 1px solid #565656;
    color: #ff0 !important;
}
.conx-datainfochoosediscradiograydiv {
    width: 90%;
    margin: auto;
    padding: 15px;
    margin-bottom: 15px;
    background-color: #f5f5f5;
}
.conx-datainfochoosediscradiograydiv > div.col-1 {
    text-align: center;
    padding: 0px;
    padding-top: 0.8em;
}
.conx-datainfochoosediscradiograydiv > div > p {
    line-height: 150%;
    margin-bottom: 0px;
}
#DatainfoChooseDiscountPopupButt {
    bottom: 10px;
    position: fixed;
    width: 100%;
    max-width: 510px;
}
.conx-datainfochoosediscradiotext {
    font-weight: 300;
    font-size: 18px;
    margin-bottom: 0px;
    padding-top: 5px;
}
.conx-datainfochoosediscbiggreeen {
    font-weight: 300;
    font-size: 24px;
    color: #00a656;
    margin-bottom: 0px;
    text-align: right;
    padding-top: 0px;
}