<div id="IssuedNewCompanyPopup">

  <mat-dialog-content class="mat-typography">

    <div class="row">

      <div class="col-12 conx-newcompanyspacer"></div>

      <div class="col-sm-7 col-md-7 col-7 text-left">
        <p class="conx-possidetext conx-possidetexttop"><i class="conx-newcompanycustomicon"></i> พิมพ์ใบกำกับภาษีเต็มรูปแบบ</p> 
      </div>
      <div class="col-sm-5 col-md-5 col-5 text-right" id="IssuedNewCompanyPopupTopButt">

          <button mat-button mat-dialog-close (click)="openDialog4()">เปลี่ยนที่อยู่</button>

      </div>

      <div class="col-12 conx-newcompanyspacer2"></div>

      <div class="col-12">

        <div class="conx-newcompanyformin">
          
              <h5>ชื่อสำหรับออกใบกำกับ *</h5>
              <mat-form-field appearance="outline">
                <mat-label> </mat-label>
                <input matInput placeholder="Placeholder">
              </mat-form-field>
          
        </div>

        <div class="conx-newcompanyformin">
          
              <h5>ชื่อสาขา *</h5>
              <mat-form-field appearance="outline">
                <mat-label> </mat-label>
                <input matInput placeholder="Placeholder">
              </mat-form-field>
          
        </div>

        <div class="conx-newcompanyformin">
          
              <h5>ที่อยู่ *</h5>
              <mat-form-field appearance="outline">
                <mat-label> </mat-label>
                <input matInput placeholder="Placeholder">
              </mat-form-field>
          
        </div>

        <div class="conx-newcompanyformin">
          
              <h5>เลขประจำตัวผู้เสียภาษี *</h5>
              <mat-form-field appearance="outline">
                <mat-label> </mat-label>
                <input matInput placeholder="Placeholder">
              </mat-form-field>
          
        </div>

        <div class="conx-newcompanyformin">
          
              <h5>หมายเลขโทรศัพท์ *</h5>
              <mat-form-field appearance="outline">
                <mat-label> </mat-label>
                <input matInput placeholder="Placeholder">
              </mat-form-field>
          
        </div>

      </div>

    </div>

    <div id="IssuedNewCompanyPopupButt">

      <button mat-button mat-dialog-close>ยกเลิก</button>
      <button mat-button mat-dialog-close>ยืนยัน</button>
  
    </div>

  </mat-dialog-content>

</div>