<div id="PosComplatePopup">

  <mat-dialog-content class="mat-typography">

    <div class="row">

      <div class="col-12">
        
        <div class="conx-poscompletebigicon"></div>

      </div>
      <div class="col-12 text-center">
        <h1 class="conx-poscompleteh1">รับชำระค่าสินค้าเรียบร้อย</h1>
      </div>

      <div class="col-sm-12 col-md-6 col-6">

        <div id="conx-poscompleterecbutt">
          <button mat-button mat-dialog-close (click)="openDialog2()">ออกใบเสร็จรับเงิน</button>
        </div>

      </div>
      <div class="col-sm-12 col-md-6 col-6">
          
        <div id="conx-poscompletetaxbutt">
          <button mat-button mat-dialog-close (click)="openDialog3()">ออกใบกำกับภาษี</button>
        </div>
        <div class="conx-poscompletetaxremark">*เอกสารกำกับภาษีเต็มรูปแบบ</div>

      </div>

      <div class="col-12">
        <div id="conx-poscompletetelform">
          
              <h5>เบอร์โทรศัพท์ *</h5>
              <mat-form-field appearance="outline">
                <mat-label> </mat-label>
                <input matInput placeholder="Placeholder">
              </mat-form-field>
          
        </div>
      </div>

    </div>

  </mat-dialog-content>

</div>

<div id="PosComplatePopupButt">

</div>