<div id="PosTaxinvPopup">

  <mat-dialog-content class="mat-typography">

    <div class="row">

      <div class="col-sm-7 col-md-7 col-7 text-left">
        <p class="conx-possidehead">HEAD</p> 
      </div>
      <div class="col-sm-5 col-md-5 col-5 text-right">
          BUTTON
      </div>

      <div class="col-12">
        BUTTON
      </div>

    </div>

  </mat-dialog-content>

</div>

<div id="PosTaxinvPopupButt">

    <button mat-button mat-dialog-close>ยกเลิก</button>
    <button mat-button mat-dialog-close>ยืนยัน</button>

</div>

<div>
  
</div>