<div id="PosNewAddressPopup">

  <mat-dialog-content class="mat-typography">

    <div class="row">

      <div class="col-12" id="PosNewAddressPopupTopBackButt">
        
        <button mat-button mat-dialog-close (click)="openDialog6()">ย้อนกลับ</button>

      </div>

      <div class="col-12 conx-posnewaddrspacer conx-posnewaddrspacer2"></div>

      <div class="col-sm-7 col-md-7 col-7 text-left">
        <p class="conx-possidetext conx-possidetexttop"><i class="conx-posnewaddrcustomicon"></i> พิมพ์ใบกำกับภาษีเต็มรูปแบบ</p> 
      </div>
      <div class="col-sm-5 col-md-5 col-5 text-right" id="PosNewAddressPopupTopButt">

      </div>

      <div class="col-12 conx-posnewaddrspacer2"></div>

      <div class="col-12">

        <div class="conx-posnewaddrformin">
          
              <h5>ที่อยู่ *</h5>
              <mat-form-field appearance="outline">
                <mat-label> </mat-label>
                <input matInput placeholder="Placeholder">
              </mat-form-field>
          
        </div>

        <div class="conx-posnewaddrformin">

              <mat-form-field appearance="outline">
                <mat-label> </mat-label>
                <input matInput placeholder="Placeholder">
              </mat-form-field>
          
        </div>

        <div class="conx-posnewaddrformin">

              <mat-form-field appearance="outline">
                <mat-label> </mat-label>
                <input matInput placeholder="Placeholder">
              </mat-form-field>
          
        </div>

      </div>

    </div>

    <div id="PosNewAddressPopupButt">

      <button mat-button mat-dialog-close>ยกเลิก</button>
      <button mat-button mat-dialog-close>ยืนยัน</button>
  
    </div>

  </mat-dialog-content>

</div>